.welcomeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  .welcomeText {
    margin-bottom: 20px;
  }
  
  .logoutButton {
    background-color: #f50057;
    color: white;
  }